.FilterBar-container {
  display: flex;
  flex-direction: column;
}

.FilterBar-header {
  display: flex;
  height: 2.4em;
  transition: background-color 0.15s ease-out;
}

.FilterBar-header:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

.FilterBar-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  width: 94%;
}

.FilterBar-sizer {
  width: 6%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-minus, .fa-plus {
  color: #eeeeee;
  font-size: 1.5em;
}

.FilterBar-border {
  width: 96%;
  margin: 0 auto;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.FilterBar-body-open, .FilterBar-body-closed {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.3s ease-in-out;
  /* border-bottom: 1px solid rgba(255,255,255,0.5); */
}

.FilterBar-body-open {
  max-height: 550px;
}

.FilterBar-filter {
  display: flex;
  align-items: center;
  padding: 0.8em 0;
  /* border-bottom: 1px solid black; */
}

.FilterBar-filter:first-of-type {
  margin-top: 5px;
}

.FilterBar-title {
  width: 12%;
  font-size: 1.2em;
  text-align: left;
  padding-left: 1em;
}

.FilterBar-options-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-right: 1.2em;
  font-size: 1em;
}

.FilterBar-selections {
  justify-content: space-around;
}

.FilterBar-slider-row {
  margin: 0 auto;
  width: 75%;
  padding: 0 2em 0 1em;
}

.FilterBar-spacer {
  width: 1em;
}

.FilterBar-option-div {
  width: 15%;
  padding: 0.1em 0;
  /* border: 1px solid #eeeeee; */
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255,255,255,0.05);
  user-select: none;
}

.FilterBar-option-div:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
  /* box-shadow: 0px 0px 1px 0px gray; */
}

.FilterBar-option-selected {
  background-color: rgba(255,255,255,0.2);
  color: white;
}

.FilterBar-option-selected:hover {
  background-color: rgba(255,255,255,0.2);
}

.FilterBar-title-genres {
  display: flex;
  flex-direction: column;
}

.FilterBar-genres-reset:hover{
  cursor: pointer;
  color: #2e51a2;
}

.FilterBar-genre-header {
  margin: 0 auto;
  margin-bottom: 0.4em;
  margin-top: 0.8em;
  font-weight: 700;
}

.FilterBar-genre-section {
  display: flex;
  flex-wrap: wrap;
}

.FilterBar-genre-row {
  flex-direction: column;
}

.FilterBar-genre-div {
  width: 20%;
  margin-bottom: 0.4em;
}

.FilterBar-genre-checkbox {
  margin-right: 0.3em;
  color: none;
}

.FilterBar-genre-checkbox, .FilterBar-genre-label:hover {
  cursor: pointer;
}
