.FilterBar-container {
  display: flex;
  flex-direction: column;
}

.FilterBar-header {
  display: flex;
  height: 2.4em;
}

.FilterBar-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  width: 94%;
  border-bottom: 1px solid black;
}

.FilterBar-sizer {
  width: 6%;
  border: 1px solid green;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-minus, .fa-plus {
  color: black;
  font-size: 1.5em;
}

.FilterBar-border {
  width: 96%;
  margin: 0 auto;
  border-top: 1px solid black;
}

.FilterBar-body-open, .FilterBar-body-closed {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s ease-in-out;
}

.FilterBar-body-open {
  max-height: 200px;
}

.FilterBar-filter {
  display: flex;
  align-items: center;
  padding: 0.8em 0;
  /* border-bottom: 1px solid black; */
}

.FilterBar-title {
  width: 10%;
  font-size: 1.2em;
  text-align: left;
  padding-left: 1em;
}

.FilterBar-options-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-right: 1.2em;
  font-size: 1em;
}

.FilterBar-slider-row {
  width: 90%;
  padding: 0 2em 0 1em;
}

.FilterBar-spacer {
  width: 1em;
}

.FilterBar-option-div {
  width: 15%;
  padding: 0.1em 0;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  color: #2e51a2;
  user-select: none;
  /* transition: background-color 0.2s linear, color 0.2s linear; */
}

.FilterBar-option-div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px gray;
}

.FilterBar-option-selected {
  background-color: #2e51a2;
  color: white;
}
