.FilterBar-container {
  display: flex;
}

.FilterBar-sizer {
  width: 5%;
}

.FilterBar-filter-items {
  width: 95%;
}

.FilterBar-filter {
  display: flex;
}

.FilterBar-title {
  width: 10%;
  font-size: 1.2em;
  text-align: left;
}

.FilterBar-options-row {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.FilterBar-option-div {
  width: 15%;
  font-size: 1em;
  padding: 0.1em 0;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  color: #2e51a2;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.FilterBar-option-div:hover {
  cursor: pointer;
}

.FilterBar-option-selected {
  background-color: #2e51a2;
  color: white;
}

.FilterBar-slider-row {
  width: 80%;
  height: 30px;
}

.FilterBar-slider {
  height: 100%;
}
