.FilterBar-container {
  display: flex;
}

.FilterBar-sizer {
  width: 5%;
}

.FilterBar-filter-items {
  width: 95%;
}

.FilterBar-filter {
  display: flex;
  align-items: center;
}

.FilterBar-title {
  width: 10%;
  font-size: 1.2em;
  text-align: left;
}

.FilterBar-options-row {
  display: flex;
  width: 80%;
  margin-bottom: 0.6em;
  justify-content: space-between;
}

.FilterBar-slider-row {
  display: block;
  width: 76%;
  margin-bottom: 0.6em;
}

.FilterBar-spacer {
  width: 2%;
}

.FilterBar-option-div, .FilterBar-option-six {
  width: 15%;
  font-size: 1em;
  padding: 0.1em 0;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  color: #2e51a2;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.FilterBar-option-six {
  width: 13%;
}

.FilterBar-option-div:hover {
  cursor: pointer;
}

.FilterBar-option-selected {
  background-color: #2e51a2;
  color: white;
}
