.Header-container {
}

.Header-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  min-width: 800px;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background-image: linear-gradient(90deg, #101946, #2b1046);
}

.Header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  user-select: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  /* border: 1px solid red; */
}

.Header-title {
  /* margin-left: 10%; */
  margin-right: 2em;
  font-size: 1.6em;
}

.Header-search {
  width: 250px;
  margin-left: 5em;
}

.Header-filter-btn, .Header-sort-btn {
  position: relative;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  transition: border-bottom 0.15s ease-out;
}

.Header-filter-btn:hover, .Header-sort-btn:hover {
  border-bottom: 3px solid rgba(255,255,255,0.5);
}

.Header-filter-btn {
  margin-left: 1%;
}

.Header-filter-selected, .Header-sort-selected {
  border-bottom: 3px solid rgba(255,255,255,0.5);
}

.Header-filter, .Header-sort {
  position: fixed;
  top: 45px;
  margin: 0 auto;
  z-index: 5;
  background-image: linear-gradient(90deg, #101946, #2b1046);
  background-attachment: fixed;
}

.Header-filter {
  width: 650px;
}

.Header-sort {
  width: 100px;
}
