.Header-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background-image: linear-gradient(90deg, #101946, #2b1046);
}

.Header-item {
  font-size: 1.2em;
  user-select: none;
  margin-left: 5%;
}

.Header-title {
  margin-left: 10%;
  font-size: 1.6em;
}

.Header-search {
  width: 200px;
}

.Header-filter {
}

.Header-sort {
}
