.Header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background-image: linear-gradient(90deg, #101946, #2b1046);
}

.Header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 800px;
  min-width: 800px;
}

.Header-actions {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  user-select: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  /* border: 1px solid red; */
}

.Header-title {
  font-size: 1.6em;
  margin-left: 1em;
  margin-right: 2em;
}

.Header-search {
  width: 350px;
}

.Header-filter-btn, .Header-sort-btn, .Header-roulette-btn {
  position: relative;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  transition: border-bottom 0.15s ease-out;
}

.Header-filter-btn:hover, .Header-sort-btn:hover, .Header-roulette-btn:hover {
  border-bottom: 3px solid rgba(255,255,255,0.5);
}

.Header-filter-selected, .Header-sort-selected {
  border-bottom: 3px solid rgba(255,255,255,0.5);
}

.Header-filter, .Header-sort {
  position: fixed;
  top: 45px;
  margin: 0 auto;
  z-index: 5;
  box-sizing: border-box;
  border: 1px solid rgba(255,255,255,0.5);
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(90deg, #101946, #2b1046);
  background-attachment: fixed;
}

.Header-filter {
  width: 650px;
}

.Header-sort {
  width: 100px;
}

@media all and (max-width: 800px) {
  .Header-filter, .Header-sort {
    width: 800px;
    /* min-width: 650px; */
    background-image: linear-gradient(90deg, #101946, #2b1046);
    background-attachment: fixed;
  }
}
