.HomePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.HomePage-title {
  font-size: 2.4em;
  margin-bottom: 0.6em;
}

.SearchBar-input {
  margin-right: 1em;
  padding: 0.2em 0.4em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
  color: #eeeeee;
  font-size: 1.2em;
}

.SearchBar-button {
  padding: 0.1em 0.4em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
  color: #eeeeee;
  font-size: 1.2em;
}

.SearchBar-button:focus {
  outline: none;
}

.SearchBar-input:focus, .SearchBar-button:hover {
  border: 1px solid #eeeeee;
  outline: none;
}

.SearchBar-button:hover {
  background-color: rgba(255,255,255,0.2);
}

.SearchBar-errors {
  margin-left: 0.2em;
  overflow-x: visible;
}

.HomePage-details {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 1px solid white;
}

.HomePage-details-header {
  font-size: 1.2em;
}

.HomePage-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomePage-details-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HomePage-details-howto {
  width: auto;
  margin: 0 auto;
}
