.HomePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.HomePage-title {
  font-size: 2.4em;
}

.SearchBar-input {
  margin-right: 1em;
  padding: 0.1em 0.4em;
  border: 1px solid black;
  border-radius: 4px;
}

.SearchBar-input:focus {
  box-shadow: -5px 5px 5px #888888;
}

.SearchBar-button {
  padding: 0.1em 0.4em;
  border: 1px solid black;
  border-radius: 4px;
}
