.HomePage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.HomePage-title {
  font-size: 2.4em;
  margin-bottom: 0.6em;
  cursor: default;
  user-select: none;
}

.SearchBar-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBar-input {
  margin-right: 1em;
  padding: 0.2em 0.4em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
  color: #eeeeee;
  font-size: 1.2em;
}

.SearchBar-button {
  padding: 0.1em 0.4em;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.1);
  color: #eeeeee;
  font-size: 1.2em;
}

.SearchBar-button:focus {
  outline: none;
}

.SearchBar-input:focus, .SearchBar-button:hover {
  border: 1px solid #eeeeee;
  outline: none;
}

.SearchBar-button:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.2);
}

.SearchBar-errors {
  margin-left: 0.2em;
  overflow-x: visible;
}

.SearchBar-errors-home {
  margin-top: 0.4em;
}

.HomePage-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-top: 2em;
}

.HomePage-header {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.HomePage-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.HomePage-header-open {
  text-decoration: underline;
}

.HomePage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomePage-section-open {
  margin-bottom: 2em;
}

.HomePage-section-closed {
  max-height: 0;
  visibility: hidden;
}

.HomePage-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.HomePage-howto2 {
  text-align: center;
}

.HomePage-howto2, .HomePage-about2 {
  margin-top: 0.6em;
}

.HomePage-link {
  color: #eeeeee;
}

.HomePage-link:visited {
  color: #eeeeee;
}
