  .ListItem-li {
    display: flex;
    align-items: center;
    height: 150px;
    border: 1px solid blue;
    margin-top: 0.4em;
  }

  .ListItem-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 140px;
  }

  .ListItem-img-link {
    position: relative;
  }

  .ListItem-img-link:visited {
    color: black;
  }

  .ListItem-img {
    max-height: 130px;
    max-width: 130px;
    visibility: visible;
    transform: rotateY(0deg);
    transition: transform 0.3s linear, visibility 0s linear;
    transition-delay: 0s, 0.15s;
    transition-property: transform, visibility;
  }

  .ListItem-img-link:hover .ListItem-img {
    transform: rotateY(180deg);
    visibility: hidden;
  }

  .ListItem-img-mal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2e51a2;
    visibility: hidden;
    transform: rotateY(-180deg);
    transition: transform 0.3s linear, visibility 0s linear;
    transition-delay: 0s, 0.15s;
    transition-property: transform, visibility;
  }

  .ListItem-img-link:hover .ListItem-img-mal {
    transform: rotateY(0deg);
    visibility: visible;
  }

  .ListItem-img-text {
    position: absolute;
    width: 100%;
    top: 35%;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .ListItem-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 660px;
  }

  .ListItem-title {
    font-size: 1.8em;
    font-weight: 700;
    color: black;
    text-decoration: none;
  }

  .ListItem-title:visited {
    color: black;
  }

  .ListItem-details {
    display: flex;
    align-items: center;
  }

  .ListItem-title-container, .ListItem-details {
    margin-bottom: 0.4em;
  }

  .ListItem-details div {
    margin-right: 2em;
  }

  .ListItem-genres {
    display: flex;
    flex-wrap: wrap;
  }

  .ListItem-score,
  .ListItem-type,
  .ListItem-years {
    font-size: 1.4em;
  }

  .ListItem-userlist {
    font-size: 1em;
  }

  .ListItem-genre {
    font-size: 1.2em;
    padding: 0.1em 0;
  }

  .ListItem-genre-container {
    width: 20%;
    margin-bottom: 0.4em;
    text-align: center;
  }

  .ListItem-genre {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
  }

  .ListItem-genre:hover {
    background-color: lightblue;
  }
