  .ResultsList-container {
    margin-top: 50px;
  }

  .ListItem-li {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
  }

  .ListItem-li:first-of-type {
    margin-top: 0.4em;
  }

  .ListItem-container {
    display: flex;
    align-items: center;
    width: 98%;
  }

  .ListItem-hover-hidden {
    height: 100%;
    width: 1%;
    box-sizing: border-box;
    margin-right: 1%;
    background-color: none;
    transition: background-color 0.15s ease-out;
  }

  .ListItem-hover {
    background-color: rgba(255,255,255,0.5);
  }

  .ListItem-border-top {
    display: none;
  }

  .ListItem-border-top:first-of-type {
    margin-top: 0.4em;
  }

  .ListItem-border-bottom, .ListItem-border-top:first-of-type {
    width: 98%;
    border-top: 1px solid rgba(255,255,255,0.5);
    margin: 0 auto;
  }

  .ListItem-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 140px;
  }

  .ListItem-img-link {
    position: relative;
  }

  .ListItem-img-link:visited {
    color: black;
  }

  .ListItem-img {
    max-height: 130px;
    max-width: 130px;
    visibility: visible;
    transform: rotateY(0deg);
    transition: transform 0.3s linear, visibility 0s linear;
    transition-delay: 0s, 0.15s;
    transition-property: transform, visibility;
  }

  .ListItem-img-link:hover .ListItem-img {
    transform: rotateY(180deg);
    visibility: hidden;
  }

  .ListItem-img-mal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2e51a2;
    visibility: hidden;
    transform: rotateY(-180deg);
    transition: transform 0.3s linear, visibility 0s linear;
    transition-delay: 0s, 0.15s;
    transition-property: transform, visibility;
  }

  .ListItem-img-link:hover .ListItem-img-mal {
    transform: rotateY(0deg);
    visibility: visible;
  }

  .ListItem-img-text {
    position: absolute;
    width: 100%;
    top: 35%;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    text-align: center;
  }

  .ListItem-loader {
    position: absolute;
    top: 54px;
    left: 49px;
  }

  .ListItem-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 660px;
  }

  .ListItem-title {
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    color: #eeeeee;
  }

  .ListItem-title:visited {
    color: #eeeeee;
  }

  .ListItem-details {
    display: flex;
    align-items: center;
  }

  .ListItem-title-container, .ListItem-details {
    margin-bottom: 0.1em;
  }

  .ListItem-userlist {
    margin-bottom: 0.8em;
  }

  .ListItem-genres {
    display: flex;
    flex-wrap: wrap;
  }

  .ListItem-detail {
    font-size: 1.2em;
    margin-right: 2em;
  }

  .ListItem-userlist {
    font-size: 1em;
  }

  .ListItem-genre {
    font-size: 1em;
    padding: 0.1em 0;
    user-select: none;
  }

  .ListItem-genre-container {
    width: 20%;
    margin-bottom: 0.4em;
    text-align: center;
  }

  .ListItem-genre-container:hover {
    cursor: pointer;
  }

  .ListItem-genre {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    transition: all 0.15s ease-out;
    background-color: rgba(255,255,255,0.05);
  }

  .ListItem-genre:hover {
    background-color: rgba(255,255,255,0.1);
  }

  .ListItem-genre-selected {
    background-color: rgba(255,255,255,0.2);
  }

  .ListItem-genre-selected:hover {
    background-color: rgba(255,255,255,0.2);
  }
