  .ListItem-li {
    display: flex;
    align-items: center;
    height: 140px;
    border: 1px solid blue;
    margin-top: 0.4em;
  }

  .ListItem-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
  }

  .ListItem-img-link {
    position: relative;
  }

  .ListItem-img {
    height: 130px;
  }

  .ListItem-img-link:visited {
    color: black;
  }

  .ListItem-img-link:hover .ListItem-img-mal {
    visibility: visible;
    opacity: 1;
  }

  .ListItem-img-mal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .ListItem-img-text {
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 1.2em;
    color: black;
    text-align: center;
  }

  .ListItem-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 660px;
  }

  .ListItem-title {
    font-size: 1.8em;
    font-weight: 700;
    color: black;
    text-decoration: none;
  }

  .ListItem-title:visited {
    color: black;
  }

  .ListItem-details {
    display: flex;
  }

  .ListItem-title-container, .ListItem-details {
    margin-bottom: 0.8em;
  }

  .ListItem-details div {
    margin-right: 2em;
  }

  .ListItem-genres {
    display: flex;
    flex-wrap: wrap;
  }

  .ListItem-score, .ListItem-type, .ListItem-years, .ListItem-genre {
    font-size: 1.4em;
  }

  .ListItem-genre {
    font-size: 1.2em;
    padding: 0.1em 0;
  }

  .ListItem-genre-container {
    width: 20%;
    margin-bottom: 0.4em;
    text-align: center;
  }

  .ListItem-genre {
    width: 90%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
  }

  .ListItem-genre:hover {
    background-color: lightblue;
  }
