.ListItem-li {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
}

.ListItem-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border: 1px solid black;
}

.ListItem-img {
  height: 100px;
}

.ListItem-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 70%;
  border: 1px solid red;
}

.ListItem-title {
  font-size: 1.4em;
  text-decoration: none;
}

.ListItem-details {
  display: flex;
}

.ListItem-title, .ListItem-details {
  margin-bottom: 8px;
}

.ListItem-genres {
  display: flex;
  flex-wrap: wrap;
}

.ListItem-genre {
  width: 20%;
  margin-bottom: 4px;
}
