.SortBar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20em;
}

.SortBar-body-open, .SortBar-body-closed {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.1s ease-in-out;
}

.SortBar-body-open {
  max-height: 20em;
}

.SortBar-option {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-out;
  user-select: none;
}

.SortBar-option:last-of-type {
  border-right: none;
}

.SortBar-option-type {
  margin-right: 1em;
}

.SortBar-option:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

.SortBar-option-selected {
  background-color: rgba(255,255,255,0.2);
  font-weight: 700;
}

.SortBar-option-selected:hover {
  background-color: rgba(255,255,255,0.2);
}
