.SortBar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20em;
}

.SortBar-body-open, .SortBar-body-closed {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.1s ease-in-out;
}

.SortBar-body-open {
  max-height: 20em;
}

.SortSelect-option {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  transition: all 0.15s ease-out;
  user-select: none;
  box-sizing: border-box;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

.SortBar-option {
  justify-content: space-between;
}

.SortSelect-option:last-of-type {
  border-right: none;
}

.SortSelect-option-type {
  margin-right: 1em;
}

.SortSelect-option:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

.SortSelect-option-selected {
  background-color: rgba(255,255,255,0.2);
}

.SortSelect-option-selected:hover {
  background-color: rgba(255,255,255,0.2);
}

.SortBar-option-title {
  font-size: 10px;
}

.SortBar-option-sym {
  font-size: 8px;
}

.SelectionBar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15em;
}

.SelectionBar-option {
  justify-content: center;
  height: 27%;
}

.SelectionBar-reset {
  justify-content: center;
  height: 19%
}

.SelectionBar-reset-btn {
  padding: 0.4em;
}

.SelectionBar-reset:hover {
  cursor: inherit;
  background-color: transparent;
}

.SelectionBar-reset-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.SelectionBar-spacer {
  border-top: 1px solid #b6b6b6;
  width: 80%;
}
