.SortBar-container {
  border: 1px solid rgba(255,255,255,0.5);
  border-top: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.4em;
}

.SortBar-option {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(255,255,255,0.05);
  transition: all 0.15s ease-out;
  user-select: none;
}

.SortBar-option:last-of-type {
  border-right: none;
}

.SortBar-option-type {
  margin-right: 1em;
}

.SortBar-option:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.1);
}

.SortBar-option-selected {
  background-color: rgba(255,255,255,0.2);
  font-weight: 700;
}

.SortBar-option-selected:hover {
  background-color: rgba(255,255,255,0.2);
}
